/* 页面设置 */
main *{
    box-sizing: border-box;
}

.printPage_T {
    width: 100%;
    page-break-before: auto;
    page-break-after: always;
    background-color: white;
}

/* 页面头部信息 */
.top_T{
    width: 100%;
    height: 40px;
    border-bottom: 3px solid black;
    background-color: white;
}

.hLeft_T {
    width: 40%;
    float: left;
    text-align: left;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
}

.hcenter_T {
    width: 40%;
    float: left;
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    padding-left: 1%;
}

.hright_T{
    width: 12%;
    float: left;
    text-align: left;
    padding: 5px;
    font-size: 15px;
}

/* 标题 */
.title_T{
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 0px;
    font-size:15px;
}
    .title_T table{
        width: 100%;
        padding: 0;
    }
    .th-1{
        width:35mm;
        text-align: left;
    }
    .th-2{
        width:30mm;
        text-align: left;
    }
    .th-3{
        width:30mm;
        text-align: left;
    }
    .th-4{
        width:11mm;
        text-align: left;
    }
    .th-5{
        width:13mm;
        text-align: left;
    }
    .th-6{
        width:30mm;
        text-align: left;
    }
    .th-7{
        width:40mm;
        text-align: left;
    }
    .th-8{
        width:25mm;
        text-align: left;
    }
    .th-9{
        width:45mm;
        text-align: left;
    }


/* 明细信息 */
.dataList_T{
    width: 100%;
    padding-top: 1px;
    background-color: white;
}

.dataList_T ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0.1em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    border-bottom: 1px solid #000;
}
.dataList_T ul.va-list {
    list-style: none;
    padding: 0px;
}
.dataList_T ul.va-list li {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #000;
}

.item_T {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}

.item_T-1{
    width:35mm;
    text-align: left;
}
.item_T-2{
    width:35mm;
    text-align: left;
}
.item_T-3{
    width:31mm;
    text-align: left;
}
.item_T-4{
    width:12mm;
    text-align: left;
}
.item_T-5{
    width:13mm;
    text-align: left;
}
.item_T-6{
    width:30mm;
    text-align: left;
}
.item_T-7{
    width:42mm;
    text-align: left;
}
.item_T-8{
    width:25mm;
    text-align: left;
}
.item_T-9{
    width:46mm;
    text-align: left;
}

/*尾部信息*/
.footer_T{
    width: 99%;
    height: 25px;
    padding:1px;
    background-color: white;
}

.footer_T Div{
    text-align: center;
    margin: 1px auto; 
    margin-top: 1px;
}
.footer_T span {
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

.operation_T{
    width:100%;
    background-color: white;
    font-size:14px;
}
.operationReport{
    padding-top:15px;
    margin-top:15px;
    background-color: white;
}
.operationReport1{
    font-size:22px;
    font-weight:600;
    border-bottom:5px solid black;
    width:100%;
    text-align:left;
}
.operationReport2{
    width: 68%; 
    float: left;
    text-align:left; 
    padding-top: 10px; 
    padding-right: 5px;
    height: 320px;
}
    .operationReport2 div{
        border: 1px solid black;
        height:300px;
    }
.operationReport3{
    width: 31%; 
    float: right; 
    text-align: left; 
    padding-top: 10px; 
    padding-left: 5px; 
    height: 320px;
}
    .operationReport3 div{
        border: 1px solid black;
        height:300px;
    }