.printPage {
    width: auto;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    /*page-break-before:always;*/
    page-break-before: auto;
    page-break-after: always;
}

.printPage::-webkit-scrollbar {
    display:none;
}


.dvH {
    height: auto;
    padding-top: 10px;
}

.header {
    width: 100%;
}

.hLeft {
    width: 50%;
    float: left;
    text-align: left;
    padding-left: 2%;
}

.hcenter {
    width: 46%;
    float: left;
    text-align: center;
}

.hright{
    text-align: center;
}

.hright ul {
    list-style-type: none;
}

    .hright ul li {
        height: 25px;
        line-height: 25px;
        margin-left: 10px;
    }

#printShelfListPage {
    visibility:hidden;
    display: none;
}
