.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.jk-cart {
  display: flex;
  align-items: center;
}
.jk-cart>div {
  position: relative;
}
.jk-cart>div>u {
  position: absolute;
  right: -0.5rem;
  top: 0rem;
  font-size: 0.7em;
  background-color: red;
  display: flex;
  align-items: center;
  color: white;
  min-width: 1rem;
  padding: 0 3px;
  height: 1.0rem;
  text-align: right;
  text-decoration: none;
  justify-content: center;
  border-radius: 0.6rem;
}

.text-danger-1 {
  color: #ffc0c0;
}
.text-danger-2 {
  color: #ff8080;
}
.text-danger-3 {
  color: #ff4040;
}

.sep-product-select {
  border-top: 1px solid #f0f0f0;
}

.point-main-top {
  background: linear-gradient(#17b8b880,#17a2b880, #176ab880);
}

.m-ng-lookmoretop{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
   /*  overflow : hidden;  
    text-overflow: ellipsis;  
    display: -webkit-box;  
    -webkit-line-clamp: 1;  
    -webkit-box-orient: vertical; */
}

.status-list li:before {
    content: '';
    background-color: #d9d9d9;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    position: relative;
    top: -7px;
    left: -3px;
}